@{
    ViewBag.Title = "Polityka prywatności";
}
<h2 class="mt-2 mb-2">@ViewBag.Title</h2>
<p>
    Administratorem Państwa danych osobowych jest Xenial Programmer sp. z o.o.
</p>
<p>
    Przetwarzamy dane osobowe w celu świadczenia usługi wysyłania e-maili.
</p>
<p>
    Używamy plików cookies do utrzymania sesji i zapamiętywania preferencji użytkownika.
</p>
<p>
    Mają Państwo prawo do dostępu, sprostowania i usunięcia swoich danych oraz wniesienia sprzeciwu wobec ich przetwarzania.
</p>
<p>
    Dane przechowujemy przez okres niezbędny do realizacji określonych celów, nie dłużej niż przewidują to przepisy prawa.
</p>
<p>
    Zastrzegamy prawo do wprowadzania zmian w polityce prywatności. O wszelkich zmianach będziemy informować na tej stronie.
</p>
<p>
    Kontakt w sprawach dotyczących danych osobowych: <a href="mailto:daneosobowe@email.pl">daneosobowe@email.pl</a>.
</p>
<p>Data aktualizacji: 11.06.2025