@model ErrorViewModel
@{
    ViewData["Title"] = "Błąd";
}

<h2 class="text-danger">Wystąpił nieoczekiwany błąd podczas przetwarzania Twojego żądania.</h2>
<h5>
    Jeśli problem będzie się powtarzał,
    <a href="mailto:admin@email.pl">skontaktuj się z administratorem</a>.
</h5>

